<div class="row">
  <div class="col-md-6">
    <div class="page-header pb-2 mt-4 mb-4 border-bottom ">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      Update Contact Information
    </div>
    <form [formGroup]="editContactForm" (ngSubmit)="UpdateContactDetails()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="Enter first name" formControlName="FirstName">
        <small class="form-text text-danger"
          *ngIf="editContactForm.controls.FirstName.errors?.required && editContactForm.controls.FirstName.touched">
          First name required.
        </small>
        <small class="form-text text-danger"
          *ngIf="editContactForm.controls.FirstName.errors?.minlength && editContactForm.controls.FirstName.touched">
          Enter atleast {{editContactForm.controls.FirstName.errors?.minlength?.requiredLength}} characters.
        </small>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" class="form-control" placeholder="Enter last name"
          formControlName="LastName">
        <small class="form-text text-danger"
          *ngIf="editContactForm.controls.LastName.errors?.required && editContactForm.controls.LastName.touched">
          Last name required.
        </small>
        <small class="form-text text-danger"
          *ngIf="editContactForm.controls.LastName.errors?.minlength && editContactForm.controls.LastName.touched">
          Enter atleast {{editContactForm.controls.LastName.errors?.minlength?.requiredLength}} characters.
        </small>
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" class="form-control" placeholder="Enter email id" formControlName="Email">
        <small class="form-text text-danger"
          *ngIf="editContactForm.controls.Email.errors?.required && editContactForm.controls.Email?.touched">
          Email is required
        </small>
        <small class="form-text text-danger"
          *ngIf="editContactForm.controls.Email.errors?.email && editContactForm.controls.Email?.touched">
          Enter valid email address.
        </small>
      </div>
      <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="text" name="PhoneNumber" class="form-control" placeholder="Enter phone number" numberOnly="10"
          formControlName="PhoneNumber">
        <small class="form-text text-danger"
          *ngIf="editContactForm.controls.PhoneNumber.errors?.required && editContactForm.controls.PhoneNumber?.touched">
          Phone number is required
        </small>
        <small class="form-text text-danger"
          *ngIf="editContactForm.controls.PhoneNumber.errors?.minlength && editContactForm.controls.PhoneNumber?.touched">
          Phone number should contain 10 digits.
        </small>
        <small class="form-text text-muted"
          *ngIf="editContactForm.controls.PhoneNumber?.value.length > 0 && editContactForm.controls.PhoneNumber?.invalid">
          Phone number should contain 10 digits.
        </small>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="status" formControlName="Status">
        <label class="form-check-label" for="status">Active</label>
      </div>
      <button type="button" class="btn btn-outline-primary mt-3 mr-2" routerLink="/contact/all">
        <i class="fa fa-angle-double-left pr-1" aria-hidden="true"></i>Cancel</button>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!editContactForm.valid">
        <i class="fa fa-paper-plane-o pr-1" aria-hidden="true"></i>Update</button>
    </form>
  </div>
</div>